#about {
  display: grid;
  grid-template-columns: minmax(2rem, 6rem) 1fr minmax(2rem, 6rem);

  min-height: 110vh;
  height: min-content;

  background-color: $color-black;

  @media only screen and (max-width: $screen-small) {
    grid-template-columns: 2rem 1fr 2rem;
  }

  .aboutWrapper {
    grid-column: 2 / 3;

    margin-top: 3rem;

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content;
    grid-column-gap: 5rem;
    align-self: center;

    @media only screen and (max-width: 45rem) {
      grid-template-columns: 1fr;
    }

    h2 {
      color: $color-white;
    }

    .about_me {
      margin-bottom: 2rem;
    }

    .about_profile {
      grid-column: 2 / 3;
      color: $color-white;
      font-size: 1.5rem;

      margin-bottom: 5rem;

      @media only screen and (max-width: 45rem) {
        grid-column: 1 / 2;
      }
    }
  }
}
