#contact {
  height: 100vh;

  display: grid;
  grid-template-rows: 8rem 1fr 8rem;
  text-align: center;

  .contact_button {
    grid-row: 2 / 3;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 2rem;
    border: 4px $color-black solid;
    padding: 1rem 2rem;
    width: 290px;
    height: 60px;
  }

  .contact_button:hover {
    border: 4px #555555 solid;
    color: #555555;
    cursor: pointer;
  }

  .social_icons {
    grid-row: 3 / 4;
    justify-self: center;



    a {
      margin: 0 1rem;
      opacity: 0.6;
    }
    a:hover { opacity: 1; }
  }

  .copy {
    font-size: 1.08rem;
    letter-spacing: 0.2rem;
    margin-top: 0.8rem;
  }

}

#steep_b {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 110px 100vw 0 0;
  border-color: $color-black transparent transparent transparent;
}
